.header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  max-width: 95vw;
  margin: 1rem auto;
  color: #fff;

  img {
    display: block;
    max-width: 100%;
    width: 30px;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 0.5rem 0;
  }

  button {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-self: end;
    border: none;
    border-radius: 4px;
    background: #fff;
    padding: 5px 15px;
    font-size: 1.15rem;
    font-weight: 500;
    gap: 10px;
    cursor: pointer;

    &:hover {
      background: #eeeeee;
    }
  }

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .star {
      width: 1.25rem;
      height: 1.25rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

/* Media Query para Telas Maiores (Tablet e Desktop) */
@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    flex-direction: initial;

    max-width: 70vw;
    margin-top: 2rem;

    button {
      display: flex;
    }
  }

  .header h1 {
    grid-column: 2 / 3;
    justify-self: center;
    font-size: 2.5rem;
  }

  .header div {
    grid-column: 1 / 2;
    justify-self: start;
  }

  .header button {
    grid-column: 3 / 4;
    justify-self: end;
    display: flex;
    font-size: 1.15rem;
  }

  .header div .star {
    width: 35px;
    height: 35px;
  }
}
