.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 1rem;
  /* border: 1px solid red; */

  color: #fff;

  img {
    display: block;
    max-width: 100%;
    width: 30px;
  }

  h1 {
    justify-self: center;
    font-size: 2.5rem;
    font-weight: 400;
  }

  button {
    display: flex;
    align-items: center;
    justify-self: end;
    border: none;
    border-radius: 4px;
    background: #fff;
    padding: 5px 15px;
    font-size: 1.15rem;
    font-weight: 500;
    gap: 10px;
    cursor: pointer;

    &:hover {
      background: #eeeeee;
    }
  }

  div {
    justify-self: start;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 1px solid red; */

    .star {
      display: block;
      width: 35px;
      height: 35px;
    }

    p {
      font-size: 1.15rem;
    }
  }
}
