* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  /* max-width: 100%; */
}

.container {
  width: 1300px;
  margin: 0 auto;
  height: 80dvh;
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 100px;
  position: relative;
  /* border: 1px solid red; */

  .about-me {
    /* max-width: 1300px; */
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 50px;
    animation: animaLeft 0.5s ease-in-out;
    /* opacity: 0; */

    .img-wrapper {
      img {
        width: 100%;
        height: 100%;
      }
    }

    h1 {
      /* border: 1px solid red; */
      font-size: 3rem;
      font-weight: bold;
    }

    p {
      font-size: 24px;
      width: 50ch;
      font-weight: 200;
    }
  }
}

.hero-section {
  max-width: 1300px;
  margin: 0 auto;
  /* border: 1px solid red; */
  margin-bottom: 15rem;

  div.images {
    max-width: 1300px;
    display: flex;
    gap: 10px;
    justify-content: space-between;

    img {
      display: block;
      max-width: 30%;
      width: 500px;
      border-radius: 4px;
      object-fit: cover;
    }
  }
}

.ensaios-section {
  width: 1300px;
  margin: 0 auto;
  color: white;

  .ensaios-title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }

  .ensaio-namorados {
    .title {
      &::after {
        content: "";
        display: block;
        width: 50px;
        height: 150px;
        background: #fff;
        position: absolute;
        left: -50px;
        top: 10px;
        z-index: -2;
      }
    }
  }

  .ensaio-aniversario {
    flex-direction: row-reverse;
    gap: 1rem;
    .title {
      &::after {
        content: "";
        display: block;
        width: 50px;
        height: 150px;
        background: #fff;
        position: absolute;
        right: -50px;
        top: 10px;
        z-index: -2;
      }
    }

    .description {
      align-self: flex-end;
    }
  }
  .ensaio-namorados,
  .ensaio-aniversario {
    /* background: #fff; */
    display: flex;
    align-items: end;
    position: relative;
    margin-bottom: 100px;

    &::after {
      content: "";
      display: block;
      width: 200%;
      justify-self: left;
      height: 100px;
      background: #fff;
      position: absolute;
      left: -50%;
      bottom: -100px;
    }

    img {
      display: block;
      max-width: 100%;
      width: 500px;
      position: relative;
      border-radius: 0px 0px 4px 4px;
    }

    div {
      font-family: "Manrope", sans-serif;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* border: 1px solid red; */
      margin-left: 1rem;

      p {
        font-family: "Manrope", sans-serif;
      }

      .title {
        color: #fff;
        font-size: 2rem;
        position: relative;
        /* border: 1px solid red; */
        font-weight: bold;
      }

      .description {
        color: #fff;
        font-size: 1.15rem;
        margin-bottom: 50px;
      }
    }
  }

  @keyframes animaLeft {
    from {
      transform: translateX(-20px);
      opacity: 0;
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
