* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 95vw;
  margin: 0 auto;
  color: #fff;

  .about-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    h2 {
      font-size: 1.25rem;
      font-weight: 400;
    }

    .about {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h1 {
        font-size: 1rem;
        font-weight: 500;
      }
      p {
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 130%;
      }
      img {
        max-width: 60%;
        align-self: center;
        margin: 1rem 0;
      }
    }
  }
}

.ensaios-section {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .ensaio-1 {
    width: 60vw;
    max-width: 60vw;
    margin: 0 auto;
    min-height: 39dvh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    color: #fff;
    background-image: url("/belo.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: linear-gradient(
          90deg,
          rgba(33, 33, 33, 1) 0%,
          rgba(33, 33, 33, 0) 50%,
          rgba(33, 33, 33, 1) 100%
        ),
        linear-gradient(
          0deg,
          rgba(33, 33, 33, 1) 0%,
          rgba(33, 33, 33, 0) 25%,
          rgba(33, 33, 33, 0) 75%,
          rgba(33, 33, 33, 1) 100%
        );
      z-index: 1;
    }
  }
}

.ensaio-1 .ensaio-1-sobre {
  position: relative;
  z-index: 2;
  text-align: center;
}

.ensaio-1 .title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.ensaio-1 .description {
  font-size: 0.75rem;
  font-weight: 300;
}

.description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 15px;
    height: 15px;
  }
}
