* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  height: 90dvh;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: center; */
  color: #fff;
  gap: 100px;
  position: relative;
  /* border: 1px solid red; */

  .about-me {
    /* max-width: 1300px; */
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 50px;
    animation: animaLeft 0.5s ease-in-out;
    /* opacity: 0; */

    .img-wrapper {
      img {
        width: 100%;
        height: 100%;
      }
    }

    h1 {
      /* border: 1px solid red; */
      font-size: 3rem;
      font-weight: bold;
    }

    p {
      font-size: 24px;
      width: 50ch;
      font-weight: 200;
    }
  }
}

.ensaios-section {
  max-width: 1300px;
  margin: 0 auto;
  color: white;

  .ensaio {
    img {
      min-width: 100px;
      object-fit: cover;
    }
  }

  .ensaios-title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }
  & > div:nth-child(even) {
    flex-direction: row-reverse;

    div {
      margin-right: 1rem;
    }
  }

  & > div:nth-child(odd) {
    div {
      margin-left: 1rem;
    }
  }

  & > div:nth-child(3) {
    img {
      width: 700px;
    }
  }

  .ensaio {
    display: flex;
    align-items: end;
    position: relative;
    margin-bottom: 100px;
    img {
      display: block;
      max-width: 100%;
      width: 500px;
      position: relative;
      border-radius: 4px;
    }

    div {
      font-family: "Manrope", sans-serif;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* border: 1px solid red; */

      p {
        font-family: "Manrope", sans-serif;
      }

      .title {
        color: #fff;
        font-size: 2rem;
        position: relative;
        /* border: 1px solid red; */
        font-weight: bold;
      }

      .description {
        color: #fff;
        font-size: 1.15rem;
        margin-bottom: 50px;
      }
    }
  }

  @keyframes animaLeft {
    from {
      transform: translateX(-20px);
      opacity: 0;
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
