* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  height: 90dvh;
  display: flex;
  justify-content: center;
  color: #fff;
  /* border: 1px solid red; */

  .about-me {
    display: flex;
    align-items: center;
    gap: 20px;
    animation: animaLeft 0.5s ease-in-out;
    /* opacity: 0; */

    img {
      display: block;
      width: 100%;
    }

    h1 {
      font-size: 3rem;
      font-weight: bold;
    }

    p {
      font-size: 24px;
      width: 50ch;
      font-weight: 200;
    }
  }
  /* &::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -1.5rem;
  } */
}

.hero-section {
  max-width: 1600px;
  margin: 0 auto;

  div.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    img {
      display: block;
      /* max-width: 100%; */
    }
  }
}

@keyframes animaLeft {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
