* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 95vw;
  margin: 0 auto;
  color: #fff;

  .about-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    h2 {
      font-size: 1.25rem;
      font-weight: 400;
    }

    .about {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h1 {
        font-size: 1rem;
        font-weight: 500;
      }
      p {
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 130%;
      }
      img {
        max-width: 60%;
        align-self: center;
        margin: 1rem 0;
      }
    }
  }
}

.ensaios-section {
  max-width: 95vw;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;

  .ensaio {
    width: 80%;
    margin: 0 auto;
    color: #fff;
    position: relative;
    font-size: 1rem;

    .img-after {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: linear-gradient(
          0deg,
          rgba(33, 33, 33, 1) 0%,
          rgba(33, 33, 33, 0) 100%
        );
        top: 0;
      }
    }

    .ensaio-desc {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      width: 100%;
      /* border: 1px solid red; */
      position: absolute;
      bottom: 0;

      .star {
        width: 16px;
        height: 16px;
      }

      .title {
        font-size: 1.15rem;
        font-weight: 500;
      }

      .description {
        font-size: 0.85rem;
        font-weight: 300;
      }
    }
  }
}
